[Unit]
Description=a status icon application for blueman
Documentation=man:blueman-tray(1)
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/blueman-tray

[Install]
WantedBy=sway-session.target
