[Unit]
Description=set color temperature of display according to time of day
Documentation=man:gammastep(1)
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/sbin/gammastep -l geoclue2 -m wayland -v

[Install]
WantedBy=sway-session.target
