[Unit]
Description=Keepassxc

[Service]
Type=simple
ExecStart=keepassxc
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
