[Unit]
Description=X Settings Daemon
Documentation=https://github.com/derat/xsettingsd/wiki/Installation
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/xsettingsd
ExecStop=/usr/bin/env pkill xsettingsd

[Install]
WantedBy=sway-session.target
